fieldset {
    width: 600px;
    margin: 0 auto;
    font-size: 1.1em;
    position: relative;
    border: 2px solid grey;
}

select {
    display: block;
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
}

button {
    display: block;
    width: 100%;
    padding: 15px 0;
    background-color: rgb(0, 105, 0);
    color: rgb(255, 208, 0);
    margin: 10px 0px;
    border-radius: 4px;
    border: none;
    color: white;
    box-sizing: border-box;
    height: 80px;
    font-size: 1em;
}

button:hover {
    border: 2px solid rgb(34, 154, 194);
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
    margin: 10px 0;
}

#total-length {
    position: absolute;
    right: 5px;
    bottom: -25px;
}
